@model BillsModel
<form id="main" asp-action="Save" asp-controller="Bills">
    <div class="container">
        <h1 class="text-center"> Add Bill </h1>
        @if (Model.BillID != null)
        {
            <input type="hidden" asp-for="BillID" />
        }

        <div class="form-group">
            <label><span class="text-danger">*</span>Bill Number:-</label>
            <input type="text" asp-for="BillNumber" class="form-control" />
            <span asp-validation-for="BillNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><span class="text-danger">*</span> BillDate:-</label>
            <input type="datetime" asp-for="BillDate" class="form-control" />
            <span asp-validation-for="BillDate" class="text-danger"></span>
        </div>
        <div>
            <label><span class="text-danger">*</span>OrderID </label>
            <select class="form-control" asp-for="OrderID" asp-items="@(new SelectList(ViewBag.OrderList, "OrderID", "OrderID"))">
                <option value="">Select Order</option>
            </select>
            <span asp-validation-for="OrderID" class="text-danger"></span>
         </div>

        <div class="form-group">
            <label><span class="text-danger">*</span>TotalAmount:-</label>
            <input type="number" asp-for="TotalAmount" class="form-control" />
            <span asp-validation-for="TotalAmount" class="text-danger"></span>
        </div>

    
        <div class="form-group">
            <label><span class="text-danger">*</span>Discount:-</label>
            <input type="number" asp-for="Discount" class="form-control" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label><span class="text-danger">*</span>NetAmount:-</label>
            <input type="number" asp-for="NetAmount" class="form-control" />
            <span asp-validation-for="NetAmount" class="text-danger"></span>
        </div>

     


        <div class="col-md-12">
            <label><span class="form-label">*</span>User ID:-</label>
           <input type="number" asp-for="UserID" class="form-control" />
            <span asp-validation-for="UserID" class="text-danger"></span>
        </div>

                <div class="col">
                    <button class="btn btn-success mt-5 ml-5 btn-lg">Submit</button>
                    <a class="btn btn-danger mt-5 ml-5 btn-lg " asp-controller="Bills" asp-action="BillList">Back</a>
                </div>
    </div>


</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
